{% extends 'base.html' %}
{% load i18n %}
{% load account %}

{% block title %}Confirmar e-mail{% endblock %}

{% block content %}

<div class="email-val">

    <h1>Confirmar e-mail</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p style="margin-top: 3vh; margin-bottom: 2vh;">Por favor confirme a utilização do email {{ confirmation.email_address.email }} no CornView.</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>Este link de confirmação de e-mail expirou ou é inválido. <a href="{{ email_url }}">emita um novo
        pedido de confirmação por e-mail </a>.</p>

    {% endif %}

</div>

{% endblock %}