{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}

<div class="login">
    <img class="login-img" src="../../../static/cv.jpg">
    <h2 style="margin-bottom: 4vh;">Redefinição de senha </h2>

    <p style="margin-bottom: 4vh;">Esqueceu sua senha? Insira seu endereço de e-mail abaixo, e nós lhe enviaremos um e-mail permitindo que você a redefina. </p>
    
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success my-4 px-4" type="submit">Enviar</button>
    </form>

</div>
{% endblock %}