{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="CornView detecção e contagem de milho" />
    <meta property="og:description"
        content="O CornView é um sistema para detecção e contagem de plantas de milhos que trabalha com uma inteligência artificial treinada para identificação de plantas em imagens aéreas." />
    <meta property="og:type" content="website" />
    <meta property="og:image:secure_url" itemprop="image" content="https://www.cornview.com/static/final.jpg" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="../../../../../static/cv2.png" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body style=" background: #E4E9F7;">
    <div class="sidebar">
        <div class="logo-details">

            <i class="ml-3"><img src="../../../../../static/cv3.png" class="cv-img"></i>
            <span class="logo_name">CornView</span>
        </div>
        <ul class="nav-links">
            <li id="home">
                <a href="{% url 'pages:home' %}">
                    <i class='bx bx-home'></i>
                    <span class="link_name">Página inicial</span>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li id="up">
                <a href="{% url 'pages:up' %}">
                    <i class='bx bx-camera'></i>
                    <span class="link_name">Enviar imagem</span>
                </a>
            </li>
            <li id="proc">
                <a href="{% url 'pages:processando' %}">
                    <i class='bx bx-code-alt'></i>
                    <span class="link_name">Processamento</span>
                </a>
            </li>
            <li id="img">
                <a href="{% url 'pages:imagens' %}">
                    <i class='bx bx-photo-album'></i>
                    <span class="link_name">Minhas imagens</span>
                </a>
            </li>
            <li id="proj">
                <a href="{% url 'pages:projetos' %}">
                    <i class='bx bx-paste'></i>
                    <span class="link_name">Projetos futuros</span>
                </a>
            </li>
            <li id="ajudeCont">
                <a href="{% url 'pages:ajudeCont' %}">
                    <i class='bx bx-dollar-circle'></i>
                    <span class="link_name">Contato e Apoio</span>
                </a>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                    </div>
                    <div class="name-job">
                        <div class="profile_name" id="username">
                            {% if user.username|length <= 16 %} {{user.username}} {% else %} <script
                                type="text/javascript">
                                username = "{{user.username}}";
                                username = username.substring(0, 13) + "...";
                                document.getElementById("username").innerHTML = username;
                                </script>
                                {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'account_logout' %}">
                        <i class='bx bx-log-out'></i>
                    </a>
                </div>
            </li>
            {% else %}
            <li id="proj">
                <a href="{% url 'pages:projetos' %}">
                    <i class='bx bx-paste'></i>
                    <span class="link_name">Projetos futuros</span>
                </a>
            </li>
            <li id="ajudeCont">
                <a href="{% url 'pages:ajudeCont' %}">
                    <i class='bx bx-dollar-circle'></i>
                    <span class="link_name">Contato e Apoio</span>
                </a>
            </li>
            <li id="signup">
                <a href="{% url 'account_signup' %}">
                    <i class='bx bx-user'></i>
                    <span class="link_name">Criar conta</span>
                </a>
            </li>
            <li id="login">
                <div class="profile-details">
                    <a href="{% url 'account_login' %}">
                        <i class='bx bx-caret-right-circle'></i>
                        <span class="link_name">Fazer login</span>
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>

    <main class="home-section">
        <p class="rotaciona">Utilize o site em um computador ou rotacione sua tela para ter uma melhor experiência
        </p>
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>