{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Minhas imagens{% endblock %}

{% block content %}
{{ form|crispy }}

<script type="text/javascript"> 
    function desabilita(id){
        var botao = document.getElementById(id);
        botao.disabled = "disabled";
        botao.innerHTML = "Em processamento";
        botao.form.submit();
    }

    var nav = document.getElementById("img");
    nav.style.backgroundColor = "#1a2b2b";

</script>

<div class="titulo1">Minhas imagens</div>
<div class="container mt-5">
    <div class="row">
        {% for i in imagens %}
        <form method="POST" class="col-6 text-center" id="formID" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ i.id }}">
            <img src="../media/{{ i.tumb }}" alt="My image" width=480 height=270 name="img">
            {% if i.processada == "1" %}
                <a class="btn btn-primary my-3" id="{{ i.id }}" href="{% url 'pages:processando' %}" >Visualizar processamento</a>
            {% endif %}
            {% if i.processada == "2" %}
                <button class="btn btn-primary my-3" id="{{ i.id }}" type="submit">Visualizar resultados</button>
            {% endif %}
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}