{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Processando{% endblock %}

{% block content %}
{{ form|crispy }}

<script>
    var nav = document.getElementById("proc");
    nav.style.backgroundColor = "#1a2b2b";
</script>
<div class="titulo1"> Processamento </div>

{% if imagem|length == 0 %}
<script>
    alert("Nenhuma imagem em processamento no momento.")
    window.location.href = '/upload'
</script>
{% endif %}

<div class="relatorio">
    {% for i in imagem %}
    <input type="hidden" id="src" value="../media/{{ i.imagemOrg }}">
    <div class="row">
        <div class="relatorio-cont col-10" id="div-cont" style="margin-top: 3vh;">
            <p class="titulo2">Processando: {{ i.imagemOrg }}</p>
            <img src="../media/{{ i.tumb }}" id="img-pro" class="img-relatorio" style="margin-bottom: 3vh;">
            <p>Resolução: {{ i.largura }} ✖ {{ i.altura }}</p>
            <p>Tamanho: {{ i.tamanho }} Mb</p>
            <div class="progress" id="barra" style="background-color:grey; visibility: visible; margin-bottom: 3vh;">
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100" style="width: 0%">
                    0%
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="../static/main.js"></script>
{% endblock %}