{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Relatório{% endblock %}

{% block content %}
{{ form|crispy }}

{% for i in imagem %}
<div class="text-center">
  <div class="titulo1 mb-5">Relatório</div>
  <img class="mt-5" src="../media/{{ i.tumbPro }}" alt="My image" width="640" height="480" name="img">
  {% if i.area != -1 %}
  <table style="width:60%; margin: auto; margin-top: 5vh;">
    <tr>
      <th>Imagem</th>
      <th>Numero de plantas</th>
      <th>Area em Hectares</th>
      <th>População por hectar</th>
    </tr>
    <tr>
      <td>{{ i.imagemOrg }}</td>
      <td>{{ i.quantPlantas }}</td>
      <td>{{ i.area|floatformat:3 }} ha</td>
      <td>{% widthratio i.quantPlantas i.area 1 %}</td>
    </tr>
  </table>
  {% else %}
  <table style="width:40%; margin: auto; margin-top: 5vh;">
    <tr>
      <th>Imagem</th>
      <th>Plantas de milho</th>
    </tr>
    <tr>
      <td>{{ i.imagemOrg }}</td>
      <td>{{ i.quantPlantas }}</td>
    </tr>
  </table>
  {% endif %}
  <div class="row">
    <div class="col-4"></div>
    <div class="col-2">
      <a class="btn btn-primary mt-5 mb-5 px-5 py-2" download="custom-filename.jpg" href="../media/{{ i.imagemPro }}"
        title="ImageName">
        Baixar imagem
      </a>
    </div>
    <div class="col-2">
      <form method="POST" id="formID" onsubmit=" return confirm('Tem certeza que deseja excluir a imagem?');" class="mt-5 text-center">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger px-5 py-2" id="botao">Exlcuir imagem</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>
{% endfor %}
{% endblock %}