<h2>Seu resultado do CornView</h2>

<table style="width: 30%; border: 1px solid black; border-collapse: collapse;">
  <tr style="border: 1px solid black; border-collapse: collapse;">
    <th style="border: 1px solid black; border-collapse: collapse;">Imagem</th>
    <th style="border: 1px solid black; border-collapse: collapse;">Numero de plantas</th>
  </tr>
  <tr style="border: 1px solid black; border-collapse: collapse;">
    <td style="border: 1px solid black; border-collapse: collapse; text-align: center;">{{nome}}</td>
    <td style="border: 1px solid black; border-collapse: collapse; text-align: center;">{{plantas}}</td>
  </tr>
</table>
<a download="custom-filename.jpg" href="{{imagemPro}}" style="background-color: #008CBA; /* Green */border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2%;">
  Baixar imagem processada
</a>  